---
layout: default
title: Code
---

<style>
	#codes_content{
      padding: 9px;
      font: 17px Calibri;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align:center;
      word-wrap: break-word;
      margin: 20px 0;
    }
    
.menu{
    list-style: none;
}
.menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}
.menu li:first-child{
    border-left: none;
}
</style>

<style>
.collapsible {
  background-color: transparent;
  color: #999999;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.active, .collapsible:hover {
  color: #000000;
  outline: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}

input[type=text] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
}

.container {
  max-width: 100%;
  margin: 0rem auto;
  padding: 0 2rem;
}

.tabs {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  border: 1px solid #efefef;
}

.tabs li {
  text-align: center;
  background-color: #fcfcfc;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.45s ease-in-out;
}

.tabs li.active {
  background-color: #eee;
}

.tabs li > a {
  text-decoration: none;
  color: #0f0f0f;
}

.tabs-content {
  border: 0px solid #eee;
  border-top: 0;
}

.tabs-panel {
  padding: 2rem 1rem;
  display: none;
}

.tabs-panel.active {
  display: block;
}

@media (max-width: 480px) {
  .tabs {
    grid-template-columns: 1fr;
  }
}
</style>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>

{% assign code_string = "" %}

<h2 class="hide">GitHub Page Link</h2>
<p style="text-align: center;">Link to organization's GitHub page: <a href="https://github.com/c4sgub" target="_blank">https://github.com/c4sgub</a></p>
<!-- ----------------------------------------------- -->
<div class="container">
  <ul class="tabs">
    <li class="active" data-target="panel-1">
      <h2 class="hide">External Code</h2>
      External Code
    </li>
    <li data-target="panel-2">
      <h2 class="hide">CS4SG GitHub Code</h2>
      Organization's GitHub Code
    </li>
  </ul>
<!-- ----------------------------------------------- -->
  <div class="tabs-content">
    <div class="tabs-panel active" id="panel-1">
<center>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by entering Code Title" title="Type in Code Title">
<div id="myUL">
{% for codes in site.code %}
<font>
<div id="{{ codes.code_title }}">
  <div id="codes_content">
    <h3><a>{{ codes.code_title }}</a></h3>
    <div style="text-align:left;">
    {% assign codelink_array = codes.code_links | split: "," %}
    <h4>Description</h4>
    <p>{{ codes.description }}</p>
    <h4>Code Links</h4>
    <ul class="noBullets">
	  {% for lin in codelink_array %}  
	    <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
    	  {% endfor %}
    </ul>
    <button type="button" class="collapsible">Learn more <i class='bx bxs-chevron-down' ></i></button>
 <!-- ----------------------------------------------- -->   
    
    <div class="content">
      <ul class="noBullets">
	      
<!-- -----------------Related Authors----------------- -->
  {% if codes.code_authors %}
  <li>
	<h5>Author(s)</h5>
	   {% assign tag_people = codes.code_authors | split: "," %}
	   {% assign all_peop = "" | split: ',' %}
	   {% for peop in site.people %}
		   {% assign all_peop = all_peop | push: peop.key %}
           {% endfor %}
	<ul class="noBullets">
	{% for tag in tag_people %}
	    {% if all_peop contains tag %}
		{% for peop in site.people %}
		    {% if tag == peop.key %}
			<li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag"><i class="icofont-tag"></i>&nbsp;{{ peop.category }}</label></li>
		    {% endif %}
		{% endfor %}
	    {% else %}
		<li>{{ tag }}</li>
	    {% endif %}
	{% endfor %}
	</ul>
        </li>
    <hr/>
    {% endif %}
	      
<!-- -----------------Related Projects----------------- -->
      {% if codes.tagged_projects %}
        <li>
          <h5>Projects:</h5>
          {% assign proj_array = codes.tagged_projects | split: "," %}
          <ul class="menu">
            {% for tag in proj_array %}
              {% for project in site.projects %}
                      {% if tag == project.key %}
                        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                    {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
      <hr/>
      {% endif %}      	      

<!-- -----------------Related Publications----------------- -->
{% if codes.tagged_publications %}
    <li>
	<h5>Publications:</h5>
	{% assign publish_array = codes.tagged_publications | split: "," %}
	  <ul class="menu">
	    {% for tag in publish_array %}
	       {% for publications in site.publications %}
		  {% if tag == publications.key %}
		     <li><a href="{{ publications.url }}">{{ publications.title }}</a></li>
		  {% endif %}
	       {% endfor %}
	    {% endfor %}
	  </ul>
	</li>
    <hr/>
{% endif %}
	      
<!--Teaching Resources-->
  {% assign counter = "" %}
  {% for resource in site.teaching_resources %}
    {% if resource.tagged_code contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Teaching Resources</h3>
      <ul class="noBullets">
        {% for resource in site.teaching_resources %}
          {% if resource.tagged_code contains page.key %}
            <li>
              <a href="{{ resource.url }}">{{ resource.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
  <!--Courses-->
  {% assign counter = "" %}
  {% for course in site.courses %}
    {% if course.tagged_code contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Courses</h3>
      <ul class="noBullets">
        {% for course in site.courses %}
          {% if course.tagged_code contains page.key %}
            <li>
              <a href="\courses.html#{{ course.prefix_number }}">{{ course.prefix_number }} - {{ course.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
	      
	      
<!-- -----------------Related Education & Courses----------------- -->
  <!-- {% if codes.tagged_education or codes.tagged_courses %}
    <li>
	<h5>Education and Courses:</h5>
	{% assign edu_array = codes.tagged_education | split: "," %}
    {% assign courses_array = codes.tagged_courses | split: "," %}
	  <ul class="menu">
	    {% for tag in edu_array %}
	       {% for edu in site.education %}
		  {% if tag == edu.key %}
		     <li><a href="{{ edu.url }}">{{ edu.title }}</a></li>
		  {% endif %}
	       {% endfor %}
	    {% endfor %}
        {% for tag in courses_array %}
	       {% for course in site.courses %}
		  {% if tag == course.key %}
		     <li><a href="\courses.html#{{ course.prefix_number }}">{{ course.prefix_number }} - {{ course.title }}</a></li>
		  {% endif %}
	       {% endfor %}
	    {% endfor %}
	  </ul>
	</li>     
      <hr/>
  {% endif %} -->
<!-- ----------------------------------------------- -->
      </ul>
   </div>
  </div>
  </div>
</div>
</font>

<!-- ----------------------------------------------- -->
{% capture code_string %}{{ code_string | append: codes.key }}{% endcapture %}
{% if forloop.last == false %}
    {% capture code_string %}{{ code_string | append: "," }}{% endcapture %}
{% endif %}

{% endfor %}
</div>
</center>
</div>


<!-- ------------Organization Github Repos-------------- -->
<div class="tabs-panel" id="panel-2">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
  <div class="d-flex flex-wrap justify-content-center">
    <div id="repo"></div>
  </div>
</div>
<script>
  $.ajax({
  url: "https://api.github.com/users/c4sgub/repos",
  jsonp: true,
  method: "GET",
  dataType: "json",
  success: function(res) {
    for (let e of res){
      appender(e.name)
      document.getElementById("repo").innerHTML += '<div class="gridObj" data-aos="fade-up" style="cursor: pointer;" onclick="window.open(`'+e.clone_url+'`)">\
    <h6 style="text-align:center;"><b>'+e.name+'</b></h6>\
    <center><p style="font-size: medium; font-style: italic;">'+(e.description != null ? e.description : "")+'</p>\
      <i class="fa fa-code" aria-hidden="true"> '+e.language+'</i>&nbsp; &nbsp;\
      <i class="fa fa-star" aria-hidden="true"> '+e.watchers_count+'</i>&nbsp; &nbsp;\
      <i class="fa fa-code-fork" aria-hidden="true"> '+e.forks_count+'</i></span></center></div>'
    }
  }
});
</script>
</div>
<!-- -------------------------------------- -->
<div class="myData" data-x='{{ code_string }}'></div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<script>
  const [tabs, tabsPanels] = [
    Array.from(document.querySelectorAll(".tabs li")),
    Array.from(document.querySelectorAll(".tabs-panel"))
  ];
  
  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      const target = document.querySelector(`#${tab.dataset.target}`);
      removeActiveClass([tabs, tabsPanels]);
      tab.classList.add("active");
      target.classList.add("active");
    });
  });
  
  const removeActiveClass = (el) => {
    el.forEach((item) => {
      item.find((e) => e.classList.contains("active")).classList.remove("active");
    });
  };
  
  </script>

<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("font");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
