---
layout: default
title: Courses
---

<style>
h3 {
  display: inline-block;
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 5px 0px 5px 0px;
}
</style>

{% assign course_string = "" %}
{% for course in site.courses %}

<div id="{{ course.prefix_number }}">

    <!-------------------- Course prefix & title --------------------------------------->
    <h2>{{ course.prefix_number }} - {{ course.title }}</h2>
    
    <!-------------------- Course catalog link ----------------------------------------->
    <h3 class="hide">Link to Course in UB Course Catalog</h3>
        <p><a href="{{ course.catalog_link }}">UB Course Catalog Page</a></p>

    <!-------------------- Past website links ------------------------------------------>
    {% if course.course_webpages %}
      <h3>Webpages from past sessions:&nbsp;</h3>
      <ul class="menu" style="display:inline-block;margin-bottom:5px">
        {% for link_info in course.course_webpages %}
            {% assign info_array = link_info | split: "," %}
            <li><a href="{{ info_array[0] }}" target="_blank">{{ info_array[1] }}</a></li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
            
    <!-------------------- Instructors ------------------------------------------------->
    {% if course.instructors %}
    {% assign tag_people = course.instructors | split: "," %}
    {% assign all_peop = "" | split: ',' %}
    {% for peop in site.people %}
        {% assign all_peop = all_peop | push: peop.key %}
    {% endfor %}
    <h3>Instructors:</h3>
    <ul class="noBullets">
    {% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.key %}
                <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag">{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    
    <!-------------------- Typical semesters ------------------------------------------>
    {% if course.semesters %}
    <h3>Typical semesters offered:&nbsp;</h3><p style="display:inline-block">{{ course.semesters }}</p>
    {% endif %}
    <br>
    <!-------------------- Course description ----------------------------------------->
    {% if course.description %}
    <h3>Description:&nbsp;</h3><p style="display:inline-block">{{ course.description }}</p>
    {% endif %}

</div>

<br>
         {% capture course_string %}{{ course_string | append: course.title }}{% endcapture %}
         {% if forloop.last == false %}
             {% capture course_string %}{{ course_string | append: "," }}{% endcapture %}
         {% endif %}
{% endfor %}

 <script>
     var course_titles = "{{ course_string }}";
     localStorage.setItem("course_string", course_titles);
 </script>
