---
layout: default
title: Education
---

<html lang="en">

<body>

<!-- ----------------Projects---------------- -->
{% assign education_string = "" %}
<center><div><h2><b>Projects</b></h2></div></center>

<div class="row">
    <div class="d-flex flex-wrap justify-content-center">
        {% for education_project in site.education %}
            <div class="gridObj" data-aos="fade-up" onclick="window.location.href = '{{ education_project.url }}';" style="cursor: pointer;">
                <h3 class="title"><a>{{ education_project.title }}</a></h3>
                <div id="eduDesc"> <p class="description">{{ education_project.description | markdownify }}</p></div>
            </div>
        
         <!-- create string with all titles -->
         {% capture education_string %}{{ education_string | append: education_project.title }}{% endcapture %}
         {% if forloop.last == false %}
             {% capture education_string %}{{ education_string | append: "," }}{% endcapture %}
         {% endif %}
        {% endfor %}
    </div>
</div>
<br>
<hr />

<!-- ----------------Courses Page---------------- -->
<center><h3><b>Courses</b></h3><br>
<a href="\courses.html" style="text-decoration:none; border-radius: 10px; background-color:#67b0d1; border:0px; color:#ffffff; font-weight: bold; padding:15px; text-align: center;">See all courses <i class="bx bx-chevron-right"></i></a></center><br />
<!-------------------------------------------------->
    
 <script>
     var education_projects = "{{ education_string }}";
     localStorage.setItem("education_string", education_projects);
 </script>
</body>

</html>
