---
layout: default
title: Education
---

<html lang="en">

<body>

<!-- ----------------Courses Page---------------- -->
<h3>Courses</h3>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <a href="\courses.html" class="sectionbutton">All courses&nbsp;<i class="icofont-rounded-double-right"></i></a>
  </div>
<!-------------------------------------------------->
    
<!-- ----------------Projects---------------- -->
{% assign education_string = "" %}
<h2 style="text-align:center;font-size:1.5em">Projects</h2>

<div class="row">
    <div class="d-flex flex-wrap justify-content-center">
        {% for education_project in site.education %}
            <div class="gridObj" data-aos="fade-up" onclick="window.location.href = '{{ education_project.url }}';" style="cursor: pointer;">
                <h3 class="title"><a>{{ education_project.title }}</a></h3>
                <div id="eduDesc">
                    <h3 class="hide">Description</h3>
                    <p class="description">{{ education_project.description | markdownify }}</p>
                </div>
            </div>
        
         <!-- create string with all titles -->
         {% capture education_string %}{{ education_string | append: education_project.title }}{% endcapture %}
         {% if forloop.last == false %}
             {% capture education_string %}{{ education_string | append: "," }}{% endcapture %}
         {% endif %}
        {% endfor %}
    </div>
</div>
<br>
<hr />
    
 <script>
     var education_projects = "{{ education_string }}";
     localStorage.setItem("education_string", education_projects);
 </script>
</body>

</html>
