---
layout: default
title: News and Events
---
<html lang="en">

<body>
<h2 style="text-align:center; font-size:1.5em">News</h2>
<div class="container">
  <div class="row mt-5 mb-5">
{% assign sorted = site.event | sort: 'date' | reverse %}
{% for news in sorted limit:3 %}
    {% if news.layout == 'news' %}
    <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3">
          <div class="card">
            <h4 class="hide">Featured Image</h4>      
                  {% if news.image %}
                    <img class="card-img" src="{{ news.image }}" alt="{{ news.title }}" onclick="window.location.href = '{{ news.url }}';" style="cursor: pointer;">
                  {% else %}
                    <img class="card-img" src="/assets/img/default_news.png" alt="{{ news.title }}" onclick="window.location.href = '{{ news.url }}';" style="cursor: pointer;"> 
                  {% endif %}
            <div class="card-content">
              <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
              <h4 class="hide">Date</h4>
                <a>{{ news.date | date: '%B %d, %Y' }}</a><br/>
              <div id="textbox">
                <h4 class="hide">Description</h4>
                <p class="description">{{ news.description | markdownify }}</p>
              </div>
              <br/>
              <a href="{{ news.article_url }}" class="bttn" target="_blank">Full News Article</a>
            </div>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</div>
<div style="text-align:center">
  <a href="\news.html" class="sectionbutton">All News&nbsp;<i class="icofont-rounded-double-right"></i></a>
</div>
<br>
<hr>

<h2 style="text-align:center; font-size:1.5em">Guest Speakers (External Talks)</h2>
<div class="row">
  <div class="d-flex flex-wrap justify-content-center">
    {% assign external_talks = site.talks | where: "category", "External" | sort: 'date' | reverse %}
    {% for talk in external_talks | limit:2 %}
      
      <div class="gridObj" data-aos="fade-up" onclick="window.location.href = '{{ talk.url }}';" style="cursor: pointer;">
        <h2 class="title"><a>{{ talk.title }}</a></h2>
        
        <table>
          <tr>
          
            <td style="width:30%;">
              {% for peop in site.people %}
                {% if peop.name == talk.talk_by %}
                  <h3 class="hide">Speaker photo</h3>
                  <img src="{{ peop.image }}"  style="border-radius: 50%; width:100px; margin-right:60px;"/>
                {% endif %}
              {% endfor %}
            </td>
            
            <td>
              <div style="text-align:left; display:inline;">	
                <ul class="noBullets">
                  <li>
                    <h3 class="hide">Date</h3>
                      <i class="icofont-ui-calendar"></i> {{ talk.date | date: '%B %d, %Y' }}
                  </li>
                  <li>
                    <h3 style="display:inline; font-size:1em">Speaker: </h3>{{ talk.talk_by }}
                  </li>
                </ul>
              </div>
            </td>
            
          </tr>
        </table>
        
      </div>
    {% endfor %}
    
  </div>
</div>
<div style="text-align:center">
  <a href="\speech.html" class="sectionbutton">All External Talks&nbsp;<i class="icofont-rounded-double-right"></i></a>
</div><br><hr/>


  <h2 style="text-align:center; font-size:1.5em">Internal Talks</h2>
  <div class="row">
    <div class="d-flex flex-wrap justify-content-center">
    {% assign internal_talks = site.talks | where: "category", "Internal" | sort: 'date' | reverse %}
      {% for talk in internal_talks limit:2 %}
        <div class="gridObj" data-aos="fade-up" onclick="window.location.href = '{{ talk.url }}';" style="cursor: pointer;">
          <h2 class="title"><a>{{ talk.title }}</a></h2>
          
          <table>
            <tr>
            
              <td style="width:30%;">
                {% for peop in site.people %}
                  {% if peop.name == talk.talk_by %}
                    <h3 class="hide">Speaker photo</h3>
                    <img src="{{ peop.image }}"  style="border-radius: 50%; width:100px; margin-right:60px;"/>
                  {% endif %}
                {% endfor %}
              </td>
              
              <td>
                <div style="text-align:left; display:inline;">	
                  <ul class="noBullets">
                    <li>
                      <h3 class="hide">Date</h3>
                        <i class="icofont-ui-calendar"></i> {{ talk.date | date: '%B %d, %Y' }}
                    </li>
                    <li>
                      <h3 style="display:inline; font-size:1em">Speaker: </h3>{{ talk.talk_by }}
                    </li>
                  </ul>
                </div>
              </td>
              
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  <div style="text-align:center">
  <a href="\talks.html" class="sectionbutton">All Internal Talks&nbsp;<i class="icofont-rounded-double-right"></i></a>
  </div>
  <br/><br/><hr/><br/>
  
<!-- <h2 style="text-align:center;font-size:1.5em">Other Events</h2> -->
</body>
</html>
