---
layout: default
title: Projects
---

<style>
    input[type=text] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<h2 class="hide">Search</h2>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by entering Research Title or Title Keywords. (Example: Bias) etc." title="Type in Research Title">

<div id="myUL">
{% assign title_string = "" %}
<div class="row">
  {% assign sorted = site.projects | sort: 'date' | reverse %}
    {% for project in sorted %}
      <label>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" onclick="window.location.href = '{{ project.url }}';" style="cursor: pointer;">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class='bx bxs-report'></i></div>
              <h3 class="title"><a>{{ project.title }}</a></h3>
                <h4 class="hide">Description</h4>
                <div id="textbox"><p class="description">{{ project.description | markdownify }}</p></div>
          </div>
        </div>

         <!-- create string with all titles -->
         {% capture title_string %}{{ title_string | append: project.title }}{% endcapture %}
         {% if forloop.last == false %}
             {% capture title_string %}{{ title_string | append: "," }}{% endcapture %}
         {% endif %}
         <!-- -------------------------------->
     </label>
     {% endfor %}
 </div>
</div>
<div class="myData" data-x='{{ title_string }}'></div>

 <script>
    function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("label");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }
 </script>
