---
layout: default
title: Research
---

<html lang="en">
<style>
  .center p {
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-size: 1.5em;
  }
</style>
<body>

<!-- ---------------------Projects------------------------ -->
<div class="center">
  
  <h2>Projects</h2>
    <p style="padding-bottom: 8px;">Our group actively works on projects covering a broad range of exciting, cutting-edge topics including AI, big data, bioinformatics, cloud services, computing research, crypto-currency, cyber security, machine learning, Internet of Things, self-driving cars, smartphones, and 5G wireless.</p>


<div class="row d-flex flex-wrap justify-content-center">
  {% assign sorted = site.research_projects | sort: 'date' | reverse %}
    {% for research_project in sorted limit:4  %}
      <div onclick="window.location.href = '{{ research_project.url }}';" style="cursor: pointer;">
        <div class="icon-box gridObj" data-aos="fade-up">
          <div class="icon"><i class="icofont-unique-idea"></i></div>
            <h4 class="title"><a>{{ research_project.title }}</a></h4>
              <div id="textbox"><p class="description">{{ research_project.description | markdownify }}</p></div>
        </div>
      </div>
    {% endfor %}
</div>
<a href="\research_project.html" class="sectionbutton">All projects&nbsp;<i class="icofont-rounded-double-right"></i></a>
<br/><br/>
<hr/>
<br/>

<h2>Publications</h2><br/>
<div class="row d-flex flex-wrap justify-content-center">
    {% assign sorted_publ = site.publications | sort: 'date' | reverse %}
      {% for publ in sorted_publ limit:4  %}
        <div onclick="window.location.href = '{{ publ.url }}';" style="cursor: pointer;">
          <div class="icon-box gridObj" data-aos="fade-up">
            <div class="icon"><i class="icofont-papers"></i></div>
              <h4 class="title"><a>{{ publ.title }}</a></h4>
                <div id="textbox"><p class="description">{{ publ.abstract | markdownify }}</p></div>
          </div>
        </div>
      {% endfor %}
  </div>
  <a href="\publications.html" class="sectionbutton">All Publications&nbsp;<i class="icofont-rounded-double-right"></i></a>
  <br/><br/><hr/><br/>


  <h2>Funding</h2><br/>
  <div class="row d-flex flex-wrap justify-content-center">
    {% assign sorted_fund = site.funding | sort: 'date' | reverse %}
      {% for fund in sorted_fund limit:4  %}
        <div onclick="window.location.href = '{{ fund.url }}';" style="cursor: pointer;">
          <div class="icon-box gridObj" data-aos="fade-up">
            <div class="icon"><i class="icofont-award"></i></div>
              <h4 class="title"><a>{{ fund.grant_title }}</a></h4>
              <i style="text-align: center;">{{ fund.organization }}</i><br/>
              <font style="font-size: medium; font-weight: bold;">Grant amount: </font> <font style="font-size: medium; font-weight: normal;">${{  fund.grants }}</font>
          </div>
        </div>
      {% endfor %}
  </div>
  <a href="\funding.html" class="sectionbutton">All Funding&nbsp;<i class="icofont-rounded-double-right"></i></a>
  <br/><br/><hr/><br/>


  <h2>Code</h2><br/>
  <div class="row d-flex flex-wrap justify-content-center">
    {% assign sorted_code = site.code | sort: 'date' | reverse %}
      {% for code in sorted_code limit:4  %}
        <div onclick="window.location.href = '\/code.html#{{ code.code_title }}';" style="cursor: pointer;">
          <div class="icon-box gridObj" data-aos="fade-up">
            <div class="icon"><i class="icofont-code"></i></div>
            <h4 class="title"><a>{{ code.code_title }}</a></h4>
            <div id="textbox"><p class="description">{{ code.description | markdownify }}</p></div>
          </div>
        </div>
      {% endfor %}
  </div>
  <a href="\code.html" class="sectionbutton">All Code&nbsp;<i class="icofont-rounded-double-right"></i></a>
  <br/><br/><hr/><br/>

</div>
</body>

</html>
