---
layout: default
title: Resource Links
---
<style>
	#codes_content{
      padding: 9px;
      font: 17px Calibri;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align:center;
      word-wrap: break-word;
      margin: 20px 0;
    }
    
#menu{
    list-style: none;
}
#menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 1px black;
}
#menu li:first-child{
    border-left: none;
}

.collapsible {
  background-color: transparent;
  color: #999999;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}

.active, .collapsible:hover {
  color: #000000;
  outline: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}

input[type=text] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
}
</style>

<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>

{% assign resource_string = "" %}
<div>
  <h2 class="hide">Search</h2>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by entering link title" title="Type in link title">
    
  <div id="myUL">
  
    {% for res in site.resource_links %}
      <font>
      <div class="d-flex flex-row flex-wrap justify-content-center">
      
      <input type="text" value="Links: {{ res.link }} & Description: {{ res.description }}" id="{{ res.resource_title }}" style="position:absolute;left:-1000px;top:-1000px;">
      <div id="codes_content">
      
        <h3><a>{{ res.resource_title }}</a><label class="icofont-ui-copy" onclick="copyFunc('{{ res.resource_title }}')" style="float:right; cursor: pointer;" title="Click to copy contents of this resource and share"></label></h3>
          
          <div style="text-align:left;">
          
            <h4>Description</h4>
              <p>{{ res.description }}</p>
              
            {% assign links_array = res.link | split: "," %}
            <h4>Links</h4>
              <ul class="noBullets">
                {% for lin in links_array %}  
                  <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
                {% endfor %}
              </ul>
              
            <button type="button" class="collapsible">Resource Details <i class='bx bxs-chevron-down' ></i></button>
            
            <div class="content">
            
              <h5>Related Project(s)</h5>
                {% assign tag_proj = res.tagged_projects | split: "," %}
                <ul class="menu">
                  {% for tag in tag_proj %}
                    {% for project in site.projects %}
                      {% if tag == project.title %}
			            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul>
            </div>
            
          </div>
          
      </div>
         
      {% capture resource_string %}{{ resource_string | append: res.resource_title }}{% endcapture %}
      {% if forloop.last == false %}
        {% capture resource_string %}{{ resource_string | append: "," }}{% endcapture %}
      {% endif %}
      
      </div>
      </font>
      
    {% endfor %}
    
  </div>
</div>  


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
	
function copyFunc(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("copy");
}
</script>

<div class="myData" data-x='{{ resource_string }}'></div>

<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("font");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
