---
layout: default
title: Internal Talks
---
{% assign talk_string = "" %}
<div class="row">
  <div class="d-flex flex-wrap justify-content-center">
  
    {% for talk in site.talks %}
    {% if talk.category == 'Internal' %}
      {% capture talk_string %}{{ talk_string | append: talk.title }}{% endcapture %}
      {% if forloop.last == false %}
        {% capture talk_string %}{{ talk_string | append: "," }}{% endcapture %}
      {% endif %}
      
      <div class="gridObj" onclick="window.location.href = '{{ talk.url }}';" style="cursor: pointer;">
        <h2 class="title"><a>{{ talk.title }}</a></h2>
        
        <table>
          <tr>
          
            <td style="width:30%;">
              {% assign isInternal=true %}
              {% for peop in site.people %}
                {% if peop.name == talk.talk_by %}
                  {%assign isInternal=false%}
                  <h3 class="hide">Speaker photo</h3>
                  <img src="{{ peop.image }}"  style="border-radius: 50%; width:100px; margin-right:60px;"/>
                {% endif %}
              {% endfor %}
              {% if isInternal %}
                <h3 class="hide">Default Speaker photo</h3>
                <img src="./assets/img/team/default.png"  style="border-radius: 50%; width:100px; margin-right:60px;"/>
              {% endif %}
            </td>
            
            <td>
              <div style="text-align:left; display:inline;">	
                <ul class="noBullets">
                  <li>
                    <h3 class="hide">Date</h3>
                      <i class="icofont-ui-calendar"></i> {{ talk.date | date: '%B %d, %Y' }}
                  </li>
                  <li>
                    <h3 style="display:inline; font-size:1em">Speaker: </h3>{{ talk.talk_by }}
                  </li>
                </ul>
              </div>
            </td>
            
          </tr>
        </table>
        
      </div>
      {% endif %}
    {% endfor %}
    
  </div>
</div>
<div class="myData" data-x='{{ talk_string }}'></div>
