---
layout: default
---
<script>
  function findHostname(url){
    var hostname = (new URL(url)).hostname;
    document.write(hostname)
  }
</script>
<div id="speak_content">

{% if page.organization %}
<div class="relatedSection">
<h3 style="display:inline"><b>Funding organization: </b></h3><a href="{{ page.org_link }}" target="_blank">{{ page.organization }} <i class="icofont-external-link"></i></a>
</div>
<hr/>
{% endif %}
<!---------------------------->
  
{% if page.grant_notice %}
<div class="relatedSection">
<h3 style="display:inline"><b>Grant award notice: </b></h3><a href="{{ page.grant_notice }}" target="_blank">Click here to see {{ page.organization }} grant notice <i class="icofont-external-link"></i></a>
</div>
<hr/>
{% endif %}
<!---------------------------->

{% if page.news_links %}
<div class="relatedSection">
<h3><b>Press release / News</b></h3>
<ul class="noBullets">
    {% for news in site.event %}
    {% if news.layout == 'news' %}
    {% if news.tagged_funding contains page.key %}
    <li>
        <a href="{{ news.url }}">{{ news.title }}</a><font style="color:gray;"> : {{ news.date | date: '%B %d, %Y' }}</font>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
</div>
<hr/>
{% endif %}
<!---------------------------->
  
{% if page.grants %}
<div class="relatedSection">
<h3 style="display:inline"><b>Grant amount: </b></h3>${{  page.grants }}
</div>
<hr/>
{% endif %}
<!---------------------------->

{% if page.tagged_projects %}
<div class="relatedSection">
{% assign tag_array = page.tagged_projects | split: "," %}
<h3><b>Research Projects</b></h3>

<ul class="menu">
{% for tag in tag_array %}
    {% for project in site.research_projects %}
        {% if tag == project.key %}
            <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
            </li>
        {% endif %}
        
    {% endfor %}
{% endfor %}
</ul>
</div>
<hr>
{% endif %}
  
{% if page.start or page.duration %}
<div class="relatedSection">
<b>Grant date (range): </b> {{ page.start | date: '%B %d, %Y' }} - {{ page.duration | date: '%B %d, %Y' }}
</div>
<hr/>
{% endif %}
<!---------------------------->

{% if page.tagged_people %}
<div class="relatedSection">
{% assign tag_people = page.tagged_people | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.key %}
{% endfor %}
<h3><b>People</b></h3>
<ul class="noBullets">
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.key %}
                <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag"><i class="icofont-tag"></i>&nbsp;{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ tag }}</li>
    {% endif %}
{% endfor %}
</ul>
</div>
<hr/>
{% endif %}
<!---------------------------->

<div class="relatedSection">
<h3><b>Talks</b></h3>
<ul class="menu">
{% for talk in site.talks %}
    {% if talk.tagged_funding contains page.key %}
        <li>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
</div>
<hr/>
<!---------------------------->

<div class="relatedSection">
<h3><b>Code Resources</b></h3>
<ul class="menu">
{% for code in site.code %}
    {% if code.tagged_funding contains page.key %}
        <li>
            <a href="\code.html#{{ code.code_title }}">{{ code.code_title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
</div>
<hr/>
<!---------------------------->

<div class="relatedSection">
<h3><b>Events</b></h3>
<ul class="menu">
{% for event in site.event %}
    {% if event.layout != 'news' %}
    {% if event.tagged_funding contains page.key %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
</div>
<hr/>
<!---------------------------->
  
<div class="relatedSection">
<h3><b>Blogs</b></h3>
<ul class="menu">
{% for blog in site.posts %}
    {% if blog.tagged_funding contains page.key %}
        <li>
            <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
</div>
<hr/>
<!---------------------------->
  
<h2 class="hide">Page Content</h2> <!-- Hidden heading included for screen readers -->
{{ content | markdownify }}

</div>
{%- include narration.html -%}
