---
layout: default
---
<script>
  function findHostname(url){
    var hostname = (new URL(url)).hostname;
    document.write(hostname)
  }

  function extract(data, selected, ids){
    //Code Source: Prakshal Jain
    var dataStr = {}
    data.split(",").forEach(element => {
      let t = element.split("|");
      dataStr[t[0]] = t[1]+"-->"+t[2]
    });
    var obj = {};
    var arr = selected.split(",");
    for(let e of arr){
        let data = e.match(/<a [^>]+>([^<]+)<\/a>/);
        if(data != null){
            obj[data[1]] = e;
        }
        else{
            let name = e.split(":")[0];
            let temp = dataStr[name]
            if(temp == undefined){
              obj[name] = name;
            }
            else{
              let relStr = temp.split("-->");
              obj[name] = "<a href = '"+relStr[0]+"' target='_blank'>"+name+"</a>"+"&nbsp; <label class='peopleTag'><i class='icofont-tag'></i>&nbsp;"+relStr[1]+"</label>";
            }
        }
    }
    let sorted = Object.keys(obj).sort(compare)

    for(let e of sorted){
      document.getElementById(ids).innerHTML += "<li>"+obj[e]+"</li>"
    }
  }

  function compare(a, b) {
    //Function Code Source: https://stackoverflow.com/questions/24173245/javascript-array-sort-by-last-name-first-name
    var splitA = a.split(" ");
    var splitB = b.split(" ");
    var lastA = splitA[splitA.length - 1];
    var lastB = splitB[splitB.length - 1];

    if (lastA < lastB) return -1;
    if (lastA > lastB) return 1;
    return 0;
  }
</script>
<div id="contne">

<h2 class="hide">Tagged/Related Items</h2> <!-- Hidden heading included for screen readers -->
	
<h1 style="display:none;"><div id="publish_title">{{ page.title }}</div></h1>
<div id="speak_content">

{% if page.authors %}
<div class="relatedSection">
<h3>Authors</h3>
{% assign tag_people = page.authors | split: "," %}
{% assign all_peop = "" | split: ',' %}
{% for peop in site.people %}
    {% assign all_peop = all_peop | push: peop.key %}
{% endfor %}
<ul class="noBullets">
{% for tag in tag_people %}
    {% if all_peop contains tag %}
        {% for peop in site.people %}
            {% if tag == peop.key %}
                <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag"><i class="icofont-tag"></i>&nbsp;{{ peop.category }}</label></li>
            {% endif %}
        {% endfor %}
    {% else %}
    <li><p>{{ tag }}</p></li>
    {% endif %}
{% endfor %}
</ul>
</div>
<hr>
{% endif %}
<!---------------------------->

{% if page.published_in %}
<div class="relatedSection">
<h3 style="display:inline">Published in </h3><p style="display:inline">{{ page.published_in }}</p>
</div>
<hr>
{% endif %}
<!---------------------------->

{% if page.date %}
<div class="relatedSection">
<h3 style="display:inline">Date </h3>{{ page.date | date: '%B %d, %Y' }}
</div>
<hr>
{% endif %}
<!---------------------------->

{% if page.links %}
<div class="relatedSection">
{% capture link_string %}{{ page.links }}{% endcapture %}
{% assign link_array = link_string | split: "," %}

<h3>Links to the paper</h3>

<ul class="noBullets">
{% for link in link_array %}
    <li><a href="{{ link }}" target="_blank"><script>findHostname("{{ link }}")</script></a></li>
{% endfor %}
</ul>
</div>
<hr>
{% endif %}
<!---------------------------->

{% if page.abstract %}
<div class="relatedSection">
<h3>Abstract</h3>
{{ page.abstract }}
</div>
<hr/>
{% endif %}

<!---------------------------->
<div class="relatedSection">

  <!--Projects-->
  {% if page.tagged_projects %}
    {% assign tag_array = page.tagged_projects | split: "," %}
    <h3>Projects</h3>
      <ul class="menu">
        {% for tag in tag_array %}
          {% for project in site.projects %}
            {% if tag == project.key %}
              <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
  <!--Talks-->
  {% assign counter = "" %}
  {% for talk in site.talks %}
    {% if talk.tagged_publications contains page.key and talk.category == "Internal" %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Talks</h3>
      <ul>
        {% for talk in site.talks %}
          {% if talk.tagged_publications contains page.key and talk.category == "Internal" %}
            <li>
              <a href="{{ talk.url }}">{{ talk.title }}</a> - {{ talk.date | date: '%B %d, %Y' }} at {{ talk.locus }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Resources-->
  {% if page.resource_links or page.abs_links %}
  <div class="relatedSection">
  {% assign tag_res = page.resource_links | split: "," %}
  <h3><b>Resources</b></h3>
  <ol>
  {% for tag in tag_res %}
    {% for resource in site.resource_links %}
            {% if tag == resource.key %}
            {% assign res_links_array = resource.link | split: "," %}
            <li>
                {{ resource.description }}
            <ul class="menu">
            {% for lin in res_links_array %}
              <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
            {% endfor %}
            </ul>
            </li>
          {% endif %}
    {% endfor %}
  {% endfor %}
  
  {% assign abs_resources = page.abs_links | split: "," %}
  {% for lin in abs_resources %}
    <li><a href="{{ lin }}" target="_blank">{{ lin }}</a></li>
  {% endfor %}
  </ol>
  </div>
  <hr/>
  {% endif %}
  <!-- -------------------------------------- -->

  <!--Code-->
  {% assign counter = "" %}
  {% for res in site.code %}
    {% if res.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Code Resources</h3>
      <ol class="codetags">
        {% for res in site.code %}
          {% if res.tagged_publications contains page.key %}
            {% assign res_links_array = res.code_links | split: "," %}
            <li>
              {{ res.description }}
              <ul class="menu">
                {% for lin in res_links_array %}
                  <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    <hr>
  {% endif %}

  <!--Teaching Resources-->
  {% assign counter = "" %}
  {% for resource in site.teaching_resources %}
    {% if resource.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Teaching Resources</h3>
      <ul class="noBullets">
        {% for resource in site.teaching_resources %}
          {% if resource.tagged_publications contains page.key %}
            <li>
              <a href="{{ resource.url }}">{{ resource.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
  <!--Courses-->
  {% assign counter = "" %}
  {% for course in site.courses %}
    {% if course.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Courses</h3>
      <ul class="noBullets">
        {% for course in site.courses %}
          {% if course.tagged_publications contains page.key %}
            <li>
              <a href="\courses.html#{{ course.prefix_number }}">{{ course.prefix_number }} - {{ course.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Funding-->
  {% assign counter = "" %}
  {% for grant in site.funding %}
    {% if grant.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Funding</h3>
      <ul class="menu">
        {% for grant in site.funding %}
          {% if grant.tagged_publications contains page.key %}
            <li>
              <a href="{{ grant.url }}">{{ grant.organization }}</a>: US$ {{ grant.grants }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
	
  <!--Events (News & External Talks)-->
  {% assign counter = "" %}
  {% for event in site.event %}
    {% if event.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  {% for talk in site.talks %}
    {% if talk.tagged_publications contains page.key and talk.category == "External" %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Events</h3>
      <ul class="menu">
        {% for event in site.event %}
          {% if event.tagged_publications contains page.key %}
            <li>
              <a href="{{ event.url }}">{{ event.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% for talk in site.talks %}
          {% if talk.tagged_publications contains page.key and talk.category == "External" %}
            <li>
              <a href="{{ talk.url }}">{{ talk.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Blog Posts-->
  {% assign counter = "" %}
  {% for post in site.posts %}
    {% if post.tagged_publications contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Blog Posts</h3>
      <ul class="menu">
        {% for post in site.posts %}
          {% if post.tagged_publications contains page.key %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
	

</div>
<!---------------------------->

<script src="/assets/js/pdf_gen.js"></script><script src="/assets/js/pdf_gen2.js"></script>
<div id="elementH"></div>
<input type="button" onclick="convert_HTML_To_PDF('{{ page.title }}')" value="Download Paper as PDF" class="sectionbutton">

{%- include narration.html -%}
