---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/cropper.js"></script>
<script>
    recrop("speaker_picture", 30, 30);
</script>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>
<div id="speak_content">


{% if page.talk_by %}
<div class="relatedSection">
<center>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
        <img src="{{ peop.image }}" class="speaker_picture" style="border-radius: 50%; width:140px;"/>
    {% endif %}
{% endfor %}
    <br/>
<h3 style="display:inline"><b>Speaker: </b></h3>{{ page.talk_by }}<br/>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
	{{ peop.designation }}<br/>({{ peop.category }})
    {% endif %}
{% endfor %}
</center>
</div><br/><br/>
{% endif %}
<!-- -------------------------------------- -->


<h2 class="hide">Page Content</h2> <!-- Hidden heading included for screen readers -->
{{ content | markdownify }}
<hr/>
<!-- -------------------------------------- -->


{% if page.date %}
<div class="relatedSection">
<h3 style="display:inline"><b>Date:</b></h3> {{ page.date | date: '%B %d, %Y' }}
</div>
<hr/>
{% endif %}
<!-- -------------------------------------- -->

{% if page.locus %}
<div class="relatedSection">
<h3 style="display:inline"><b>Location: </b></h3>{{ page.locus }}
</div>
<hr/>
{% endif %}
<!-- -------------------------------------- -->
	
{% if page.resource_links %}
<div class="relatedSection">
{% assign tag_res = page.resource_links | split: "," %}
<h3><b>Resources</b></h3>
<ol>
{% for tag in tag_res %}
  {% for resource in site.resource_links %}
          {% if tag == resource.key %}
          {% assign res_links_array = resource.link | split: "," %}
          <li>
              {{ resource.description }}
          <ul class="menu">
          {% for lin in res_links_array %}
            <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
          {% endfor %}
          </ul>
          </li>
        {% endif %}
  {% endfor %}
{% endfor %}
</ol>
</div>
<hr/>
{% endif %}


{% if page.tagged_projects %}
<div class="relatedSection">
{% assign tag_proj = page.tagged_projects | split: "," %}
<h3><b>Related Research Projects</b></h3>

<ul class="menu">
{% for tag in tag_proj %}
    {% for project in site.research_projects %}
        {% if tag == project.key %}
            <li>
		      <a href="{{ project.url }}">{{ project.title }}</a>
	       </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
</div>
<hr>
{% endif %}

</div>
{%- include narration.html -%}
