---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/cropper.js"></script>
<script>
    recrop("speaker_picture", 30, 30);
</script>
<script>
function findHostname(url){
	var hostname = (new URL(url)).hostname;
	document.write(hostname)
}
</script>
<div id="speak_content">
<center>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
        <img src="{{ peop.image }}" class="speaker_picture" style="border-radius: 50%; width:140px;"/>
    {% endif %}
{% endfor %}
    <br/>
<b>Speaker: </b>{{ page.talk_by }}<br/>
{% for peop in site.people %}
    {% if peop.name == page.talk_by %}
	{{ peop.designation }}<br/>({{ peop.category }})
    {% endif %}
{% endfor %}
</center><br/><br/>

{{ content | markdownify }}
<hr/>

<b>Date:</b> {{ page.date | date: '%B %d, %Y' }}
<hr/>

<h6><b>Location: </b></h6>{{ page.locus }}
<hr/>

{% if page.resource_links %}
{% assign tag_res = page.resource_links | split: "," %}
<h6><b>Resources</b></h6>
<ol>
{% for tag in tag_res %}
  {% for resource in site.resource_links %}
          {% if tag == resource.key %}
          {% assign res_links_array = resource.link | split: "," %}
          <li>
              {{ resource.description }}
          <ul class="menu">
          {% for lin in res_links_array %}
            <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
          {% endfor %}
          </ul>
          </li>
        {% endif %}
  {% endfor %}
{% endfor %}
</ol>
<hr/>
{% endif %}

{% assign tag_proj = page.tagged_projects | split: "," %}
<h6><b>Related Research Projects</b></h6>

<ul class="menu">
{% for tag in tag_proj %}
    {% for project in site.research_projects %}
        {% if tag == project.key %}
            <li>
		      <a href="{{ project.url }}">{{ project.title }}</a>
	       </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
<hr>


</div>
{%- include narration.html -%}
