---
layout: default
---
<html>
<h2>Related files</h2>
<!-- Files that have yaml front matter aka have their own page on the website -->
<ul class="noBullets">
{% for file in site.teaching_resources %}
  {% if file.path contains page.folder %}
    {% unless file.path contains "index.html" %}
    <li><a href="{{ file.url }}">{{ file.title }}</a></li>
    {% endunless %}
  {% endif %}
{% endfor %}
<!-- Files that have no yaml front matter e.g. images, zip files, plain text files -->
{% for collection in site.collections %}
  {% if collection.label == "teaching_resources" %}
    {% for file in collection.files %}
      {% if file.path contains page.folder %}
        {% assign fixedpath = file.path | replace_first: "_", "/" %}
        <li><a href="{{ site.url | append: fixedpath }}" target="_blank">{{ file.basename }}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
</html>

