---
layout: default
---
<html>
  
<script>
  function findHostname(url){
    var hostname = (new URL(url)).hostname;
    document.write(hostname)
  }
</script>

  <h2 class="hide">Description</h2>
    <p>{{ content | markdownify }}</p>
  
  <h2 class="hide">Files</h2>
    <ul class="noBullets">
      <!-- Files that have yaml front matter aka have their own page on the website -->
      {% for file in site.teaching_resources %}
        {% if file.path contains page.key %}
          {% unless file.path contains "index.html" %}
            <li><i class='bx bxs-right-arrow'></i>&nbsp;<a href="{{ file.url }}">{{ file.title }}</a></li>
          {% endunless %}
        {% endif %}
      {% endfor %}
      <!-- Files that have no yaml front matter e.g. images, zip files, plain text files -->
      {% for collection in site.collections %}
        {% if collection.label == "teaching_resources" %}
          {% for file in collection.files %}
            {% if file.path contains page.key %}
              {% assign fixedpath = file.path | replace_first: "_", "/" %}
              <li><i class='bx bxs-right-arrow'></i>&nbsp;<a href="{{ site.url | append: fixedpath }}" target="_blank">{{ file.basename }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>

<!---------------------------->
<div class="relatedSection">

  <!--People-->
  {% if page.tagged_people %}
    <hr>
    <h3>People</h3>
    {% assign people_tag = page.tagged_people | split: "," %}
    {% assign peopLis = "" | split: ',' %}
    {% for peop in site.people %}
      {% assign peopLis = peopLis | push: peop.key %}
    {% endfor %}
      <ul class="noBullets">
        {% for tag in people_tag %}
          {% if peopLis contains tag %}
            {% for peop in site.people %}
              {% if tag == peop.key %}
                <li><a href="{{ peop.link }}" target="_blank">{{ tag }}</a> &nbsp; <label class="peopleTag"><i class="icofont-tag"></i>&nbsp;{{ peop.category }}</label></li>
              {% endif %}
            {% endfor %}
          {% else %}
            <li>{{ tag }}</li>
          {% endif %}
        {% endfor %}
      </ul>
  {% endif %}
  
  <!--Projects-->
  {% if page.tagged_projects %}
    {% assign tag_array = page.tagged_projects | split: "," %}
    <hr>
    <h3>Projects</h3>
      <ul class="menu">
        {% for tag in tag_array %}
          {% for project in site.projects %}
            {% if tag == project.key %}
              <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
  <!--Publications-->
  {% if page.tagged_publications %}
    {% assign tag_array = page.tagged_publications | split: "," %}
    <h3>Publications</h3>
      <ul class="menu">
        {% for tag in tag_array %}
          {% for pub in site.publications %}
            {% if tag == pub.key %}
              <li>
                <a href="{{ pub.url }}">{{ pub.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
  <!--Code-->
  {% if page.tagged_code %}
    {% assign tag_array = page.tagged_code | split: "," %}
    <h3>Code Resources</h3>
      <ol class="codetags">
        {% for tag in tag_array %}
          {% for res in site.code %}
            {% if tag == res.key %}
              {% assign res_links_array = res.code_links | split: "," %}
              <li>
                {{ res.description }}
                <ul class="menu">
                  {% for lin in res_links_array %}
                    <li><a href="{{ lin }}" target="_blank"><script>findHostname("{{ lin }}")</script></a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ol>
    <hr/>
  {% endif %}
  
  <!--Courses-->
  {% assign counter = "" %}
  {% for course in site.courses %}
    {% if course.tagged_teaching contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Courses</h3>
      <ul class="noBullets">
        {% for course in site.courses %}
          {% if course.tagged_teaching contains page.key %}
            <li>
              <a href="\courses.html#{{ course.prefix_number }}">{{ course.prefix_number }} - {{ course.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Funding-->
  {% assign counter = "" %}
  {% for grant in site.funding %}
    {% if grant.tagged_teaching contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Funding</h3>
      <ul class="menu">
        {% for grant in site.funding %}
          {% if grant.tagged_teaching contains page.key %}
            <li>
              <a href="{{ grant.url }}">{{ grant.organization }}</a>: US$ {{ grant.grants }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Talks-->
  {% assign counter = "" %}
  {% for talk in site.talks %}
    {% if talk.tagged_teaching contains page.key and talk.category == "Internal" %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Talks</h3>
      <ul class="menu">
        {% for talk in site.talks %}
          {% if talk.tagged_teaching contains page.key and talk.category == "Internal" %}
            <li>
              <a href="{{ talk.url }}">{{ talk.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
	
  <!--Events (News & External Talks)-->
  {% assign counter = "" %}
  {% for event in site.event %}
    {% if event.tagged_teaching contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  {% for talk in site.talks %}
    {% if talk.tagged_teaching contains page.key and talk.category == "External" %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Events</h3>
      <ul class="menu">
        {% for event in site.event %}
          {% if event.tagged_teaching contains page.key %}
            <li>
              <a href="{{ event.url }}">{{ event.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% for talk in site.talks %}
          {% if talk.tagged_teaching contains page.key and talk.category == "External" %}
            <li>
              <a href="{{ talk.url }}">{{ talk.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}

  <!--Blog Posts-->
  {% assign counter = "" %}
  {% for post in site.posts %}
    {% if post.tagged_teaching contains page.key %}
      {% assign counter = counter | append: "1" %}
    {% endif %}
  {% endfor %}
  
  {% if counter.size > 0 %}
    <h3>Blog Posts</h3>
      <ul class="menu">
        {% for post in site.posts %}
          {% if post.tagged_teaching contains page.key %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <hr>
  {% endif %}
  
</div>
</html>

